@page "/category"
@inject ICategoryRepository _categoryRepository


<h3>CategoryList</h3>

@if(isProcessing)
{
    <div class="position-absolute w-75 h-75 d-flex flex-column align-items-center bg-white justify-content-center" >
        <img src="/images/loading.gif" alt="loading">
    </div>
}
else
{
    <div class="card shadow border-0 mt-4">
        <div class="card-header bg-black bg-gradient m-lg-0 py-2">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="text-white py-2">Category List</h2>
                </div>
            </div>
        </div>
        <div class="card-body p-4">
            <div class="row pb-3">
                <div class="col-12 text-end">
                    <a href="category/create" class="btn btn-lg btn-secondary" style="width:250px"><i class="bi bi-plus-square m-2"></i>Add New Category</a>
                </div>
            </div>
            <p>Category's List</p>
            @if (categoriesList.Any())
            {
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var obj in categoriesList)
                        {
                            <tr>
                                <td>@obj.Name</td>
                                <td>
                                    <a href="@($"category/update/{obj.Id}")" class="btn btn-sm btn-primary"><i class="bi bi-pencil-square m-1"></i>Edit</a>
                                    <button class="btn btn-sm btn-danger"><i class="bi bi-trash m-1"></i>Delete</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
}

@code {
    private bool isProcessing { get; set; } = true;
    private IEnumerable<Category> categoriesList = new List<Category>();

    protected override async Task OnInitializedAsync()
    {
        // isProcessing = true;
        // // Simulate a delay for loading data
        // //await Task.Yield();
        // await LoadCategories();
        // isProcessing = false;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadCategories();
            isProcessing = false;
            StateHasChanged();
        }
    }

    private async Task LoadCategories()
    {
        categoriesList = await _categoryRepository.GetAllAsync();
    }
}
